@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Margarine&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  z-index: 1;
  position: relative;
}
::-webkit-scrollbar {
  z-index: 5;
  width: 0.5rem;
  height: 100%;
}
::-webkit-scrollbar-thumb {
  background: #454545;
}
::-webkit-scrollbar-track {
  background: #feb106;
}
.margarine-regular {
  font-family: "Margarine", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-family: "Margarine", sans-serif;
  font-weight: 800;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: #feb106;
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  color: #eee;
}
.layout {
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
nav {
  grid-column: 1/3;
  grid-row: 1;
  width: 100%;
  max-width: 100%;
  height: 15vh;
  background: #121212;
  padding: 1.5rem;
  color: #fff;
  border-bottom: 0.5rem solid #feb106;
  display: flex;
  align-items: center;
  justify-content: start;
}
.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
  font-family: "Margarine", sans-serif;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  width: 5vw;
  height: auto;
  background: #232323;
  padding-top: 1rem;
}
.cont {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.ct {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont .ct:hover {
  background: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
main {
  grid-column: 2/3;
  grid-row: 2;
  width: 95vw;
  max-width: 100%;
  min-height: 85vh;
  background: #343434;
  border-left: 0.5rem solid #feb106;
  padding: 2rem 3rem;
}
.text-sec {
  width: 100%;
  height: 100%;
  padding: 2rem 3rem;
  background: #141414;
  border-radius: 15px;
  box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.3);
}
.text-sec li {
  list-style: circle;
  text-align: justify;
  margin-left: 1rem;
}
.text-sec li::marker {
  color: #feb106;
}
/* ========== CALCULADORA ========== */
.hero a {
  text-decoration: none;
  font-family: "Margarine", sans-serif;
  color: #f9f9f9;
}
.calc-layout {
  width: 100%;
  height: 100%;
  background: #121212;
  border-radius: 15px;
  box-shadow: 0 8px 12px 8px rgba(0, 0, 0, 0.3);
  padding: 1.2rem;
  display: flex;
  gap: 1.5rem;
  overflow: hidden;
}
.calc-comp {
  overflow: auto;
}
.calc-info {
  width: 45vw;
  height: 100%;
  padding: 0.25rem;
  border-right: 0.15rem solid #feb106;
  letter-spacing: 1px;
}
.calc-info h2 {
  margin-bottom: 4rem;
}
.calc-info h3 {
  font-size: 20px;
  color: #feb106;
  margin-top: 0.8rem;
}
.calc-info a {
  color: #feb106;
  text-decoration: none;
}
.lista {
  font-size: 16px;
  padding: 0.8rem;
  color: #ddd;
}
.calc-up {
  width: 55vw;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow: hidden;
}
.calc-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.calc-input label {
  font-size: 18px;
  color: #feb106;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}
.calc-input input {
  border-radius: 0;
  border: none;
  width: 85%;
  height: 2.5rem;
  outline: none;
  padding: 1.25rem 0.5rem;
}
.calc-input button {
  background: #feb106;
  cursor: pointer;
  width: 8rem;
  height: 4rem;
  border-radius: 16px;
  border: none;
  font-family: "Margarine", sans-serif;
  font-size: 15px;
  margin: 1.5rem 1rem;
}
.calc-input button:hover {
  background: #f0a70a;
}
input:focus-visible {
  border: none;
  border-radius: 0;
}
.calc-layout input::-webkit-outer-spin-button,
.calc-layout input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calc-res {
  width: 100%;
  min-height: 15vh;
  padding: 1.2rem;
}
.calc-res table {
  border: 0.2rem solid #feb106;
  width: 100%;
  height: auto;
  color: #fff;
  font-size: 15px;
  border-collapse: collapse;
  padding: 1.2rem;
}
.calc-res th {
  height: 100%;
  border-right: 0.2rem solid #feb106;
  font-size: 15px;
  padding: 0.45rem;
}
.td {
  height: 100%;
  border: 0.2rem solid #feb106;
  text-align: center;
}
.calc-res th:last-child {
  border: none;
}
/* ========== TRACKER ========== */
.track {
  max-width: 100%;
  min-height: 100vh;
  background: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}
.track-layout {
  width: 95vw;
  min-height: 80vh;
  background: #232323;
  border-radius: 15px;
  box-shadow: 4px 8px 16px 8px rgba(0, 0, 0, 0.4);
}
.track-nav {
  width: 100%;
  min-height: 10vh;
  border-bottom: 0.25rem solid #feb106;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.track-nav h1 {
  color: #e8eaed;
  font-size: 35px;
  padding: 1.25rem;
}
.nav-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.45rem;
}
.nt {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}
.nt:hover {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background 0.35s;
}
.track-main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
}
.goal-create {
  width: 40vw;
  height: 85vh;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2.5rem;
  border-right: 0.25rem solid #feb106;
}
.goal-create h1 {
  font-size: 6.5rem;
  color: #fff;
}
.goal-create input[type="text"] {
  width: 20vw;
  height: 2.5rem;
  padding: 1.25rem;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background: none;
  border: none;
  border-bottom: 0.15rem solid #feb106;
  outline: none;
  text-align: center;
}
.goal-create button {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: none;
  background: #feb106;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  font-family: "Margarine", sans-serif;
}
.goal-create button:hover {
  background: #eca305;
  transition: background 0.3s;
}
.goal-create h2 {
  font-size: 25px;
  color: #e8eade;
}
.goal-color {
  width: 5rem;
  height: 5rem;
  position: relative;
  overflow: hidden;
  border: none;
}
.goal-color input {
  width: 8rem;
  height: 8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
}
.goal-display {
  width: 55vw;
  min-height: 100%;
  padding: 3rem;
  background: none;
}
.display-screen {
  width: 100%;
  height: 75vh;
  background: #121212;
  border-radius: 12px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow: auto;
}
.goal-view {
  width: 100%;
  height: 15vh;
  padding: 0.75rem;
  border-left: 0.35rem solid #e67ab8;
  display: flex;
  justify-content: space-between;
  background: #343434;
  border-radius: 8px;
}
.goal-view h2 {
  color: #e8eade;
  font-weight: bold;
  font-size: 22px;
}
.goal-tools {
  width: 1.25rem;
  height: 100%;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.goal-done {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: none;
  background: #e8eade;
  border: 0.25rem solid #000;
  cursor: pointer;
}
.goal-delete {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  background: none;
  color: #ddd;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
.goal-done:hover {
  box-shadow: inset 0 1px 4px 2px #feb106;
}
.goal-delete:hover {
  background: rgba(0, 0, 0, 0.3);
}
/* ========== OVERLAY AND MODAL WINDOW ========== */

.track-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 5;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
}
.track-window {
  position: absolute;
  z-index: 10;
  width: 85vw;
  height: 90vh;
  background: #252525;
  border-radius: 16px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.window-top {
  width: 100%;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.75rem;
}
.window-top h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  color: #feb106;
}
.window-text {
  width: 100%;
  min-height: 40vh;
}
.window-text h2 {
  font-size: 3.5rem;
}
.window-text p {
  font-size: 2rem;
}
.window-button {
  width: 100%;
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: start;
}
.start-button {
  width: 15rem;
  height: 5rem;
  border-radius: 32px;
  border: none;
  font-size: 1.8rem;
  font-weight: bold;
  background: #feb106;
  cursor: pointer;
}
.start-button:hover {
  background: #e69e04;
}
/* ========== HIDDEN ========== */
.hidden {
  display: none;
}
/* ========== DESIGN RESPONSIVO ========== */
@media only screen and (max-width: 1000px) {
  .layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sidebar {
    width: 100%;
    height: 12vh;
    padding: 0.5rem;
  }
  .cont {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
  }
  .cont svg {
    width: 48px;
    height: 48px;
  }
  .ct {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main {
    grid-column: 1;
    grid-row: 3;
    width: 100%;
    min-height: 70vh;
    border: none;
    padding: 0;
  }

  .text-sec {
    border-radius: 0;
  }

  .calc-layout {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.25rem;
    border-radius: 0;
    padding: 0.45rem;
  }
  .calc-info {
    width: 100%;
    height: 100%;
    border: none;
  }
  .calc-info h2 {
    margin-bottom: 1.2rem;
  }
  .calc-up {
    width: 100%;
    height: 100%;
  }
  .calc-input {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
  }
  .calc-res {
    padding: 0.1rem;
  }
  .track {
    width: 100%;
    height: 100%;
  }
  .track-layout {
    position: relative;
    width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    transform: translate(0%, 0%);
    border-radius: 0;
  }
  .track-nav {
    width: 100%;
    background: #343434;
  }
  .track-main {
    display: flex;
    flex-direction: column;
  }
  .goal-create {
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    padding: 2rem;
    border-right: none;
  }
  .goal-create input[type="text"] {
    min-width: 35vw;
    max-width: 65vw;
  }
  .goal-display {
    width: 100%;
    border: none;
  }
  .track-window {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}
