@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
  background: #eee;
  max-width: 100dvw;
  min-height: 100dvh;
}
/* INFO STYLE */
article {
  background: #222;
  width: 100%;
  min-height: 100dvh;
}
nav {
  width: 100%;
  min-height: 20dvh;
  text-align: center;
  padding: 2rem;
  background: #111;
  border-bottom: 0.3rem solid #4c00b0;
}
main {
  width: 100%;
  min-height: 100dvh;
  font-size: 20px;
  color: #fff;
}
.text-section {
  padding: 1rem 3rem;
}
main h1,
main h2 {
  color: #4c00b0;
  padding: 0.5rem;
}
main ul {
  list-style: circle;
}
.redirect-container {
  width: 100%;
  min-height: 50dvh;
  background: #4c00b07c;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 1.5rem;
}
.rc {
  width: 20dvw;
  height: 40dvh;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 12px 8px rgba(0, 0, 0, 0.3);
}
#calc-access,
#tracker-access {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}
.rc button:hover {
  transform: translateY(-10px);
  transition: transform 0.5s;
}
footer {
  width: 100%;
  height: 5rem;
}
/* CALCULATOR STYLE */

/* TRACKER STYLE */
.layout {
  width: 85dvw;
  max-width: 85dvw;
  height: 85dvh;
  max-height: 85dvh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "goals goals goals"
    "create create create";
  border-radius: 15px;
  box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.15);
}
.nav {
  grid-area: nav;
  height: 15dvh;
  background: #0086b6;
  border-radius: 15px 15px 0 0;
  border-bottom: 0.3rem solid #fff;
  transition: background 0.5s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}
/* Seção de metas */
.goals {
  grid-area: goals;
  width: 100%;
  height: 55dvh;
  max-height: 55dvh;
  background: #ffd900;
  border-bottom: 0.3rem solid #fff;
  transition: background 0.5s ease;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  overflow-y: auto;
  gap: 0.2rem;
}
.goals::-webkit-scrollbar {
  background: none;
  width: 0.45rem;
}
.goals::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  width: 1rem;
  height: 1rem;
}
.goal {
  font-family: "Margarine", sans-serif;
  color: #fff;
  min-width: 10dvw;
  max-height: 7dvh;
}
.create-goal {
  grid-area: create;
  width: 100%;
  height: 15dvh;
  border-radius: 0 0 15px 15px;
  background: #ffbf00;
  transition: background 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.create-button {
  font-family: "Margarine", sans-serif;
  font-size: 3rem;
  cursor: pointer;
  color: #fff;
  border: none;
  background: #0086b6;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.create-button:hover {
  background: #009dd6;
}
#title {
  font-family: "Margarine", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3.5rem;
  color: #fff;
}
.goalie {
  width: 100%;
  min-height: 20dvh;
  background: #333;
}
/* editar metas */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 5;
}
.edit-goal {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffd900;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.2rem;
  border: 4px solid #009dd6;
  border-radius: 20px;
  box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.15);
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}
.goal-name,
.goal-time,
.goal-color {
  padding: 1rem;
}
.goal-info {
  grid-column: 1/4;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}
.goal-info input {
  width: 100%;
  padding: 0.2rem 0.8rem;
  font-size: 20px;
  border: none;
  border-bottom: 0.2rem solid #009dd6;
  color: #fff;
  background: #ffbf00;
  border-radius: 15px;
}
input[type="number"] {
  width: 40%;
}
.goal-color {
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}
.color-container {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  border: 0.15rem solid #009dd6;
}
input[type="color"] {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}
.goal-objective {
  padding: 1rem;
  width: 100%;
  grid-column: 1/4;
  grid-row: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.go {
  font-size: 25px;
  font-family: inherit;
  border-radius: 20px;
  padding: 0.3rem;
  background: none;
  cursor: pointer;
}
.salvar {
  color: #009dd6;
  border: 0.2rem solid #009dd6;
}
.cancel {
  color: #ff004f;
  border: 0.2rem solid #ff004f;
}
/* customização de ícone */
.material-symbols-outlined {
  font-variation-settings: "FILL" 2, "wght" 400, "GRAD" 0, "opsz" 24;
  cursor: pointer;
  transition: font-variation-settings 0.5s linear;
  padding: 5px;
  color: #fff;
}
.help {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.help:hover {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.material-symbols-outlined:hover {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}
/* esconder display */
.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  .redirect-container {
    display: flex;
    flex-direction: row;
  }
  .rc {
    width: 35dvw;
    height: 45dvh;
  }
  /* tracker */
  .layout {
    width: 100dvw;
    max-width: 100dvw;
    height: 100dvh;
    max-height: 100dvh;
    border-radius: 0;
  }
  .nav {
    border-radius: 0;
    min-height: 25dvh;
    padding: 0.5rem;
  }
  .goals {
    min-height: 60dvh;
  }
  .create-goal {
    border-radius: 0;
  }
  .create-button {
    width: 3.5rem;
    height: 3.5rem;
    font-size: 2.5rem;
    text-align: center;
  }
}
